<head>
  <link href="/css/style.css" rel="stylesheet" />
</head>

<div class="center-page">
  <form class="flex-columns card--add" action="/add_place_post" method="post"> 
    <input type="text" name="place" placeholder="place" >
    <input type="text" name="description" placeholder="description">
    <input type="text" name="fixed_price" placeholder="fixed_price">
    <input type="submit" value="Submit">
  </form>
</div>