<form action="/add_place_post" method="post">
  <input type="text" name="place">
  <input type="text" value="description">
  <input type="text" value="fixed_price">
  <input type="submit" value="Submit">
</form>
