<form action='/all/<%= @listing.id %>' method='post'>
  <input type="hidden" name="_method" value="PATCH" />
  'Click submit to confirm your reservation'
  <input type='submit' value='Submit'/>
</form>
