<head>
  <link href="/css/style.css" rel="stylesheet" />
</head>

<div class="center-page center">
  <h1 class="title">Welcome to Makers BnB</h1>

  <form method = "post" action = "/new">
    <input type="text" name="username" placeholder="username" />
    <input type="submit" value="Sign in" />
  </form>
</div>
