<head>
  <link href="/css/style.css" rel="stylesheet" />
</head>

<div class="center-page">
<div class="card card--large">
<h1>Your request has been submitted</h1>
<p>Your reservation id: <%= @id %> </p>

<form action="/all" method="get">
  <input type="submit" value="Homepage" >
</form>
</div>
</div>