body{
  background-image: url('/images/IT_2017NOV10OnlineStory_AirBnB_1500x1001px.jpg');
  font-family: Arial, Helvetica, sans-serif !important;
}


.title{
  color: aliceblue;
}

ul.pd{
  padding-left: 0 !important;
}

input{
  max-width: 500px;
  margin-bottom: 10px;
}

.center-page{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.center{
  text-align: center;
}

.card {
  width: 100%;
  border-radius: 10px;
  max-width: 275px;
  background: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  top: 0;
  margin: 10 auto;
}

.card--add {
  width: 100%;
  border-radius: 10px;
  max-width: 300px;
  background: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  top: 0;
  margin: 10 auto;
  padding-top: 20px;
}

.card--disabled {
  width: 100%;
  border-radius: 10px;
  max-width: 275px;
  background: #D9D9D9;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  top: 0;
  margin: 10 auto;
}

.card--large{
  max-width: 380px;
}

.card--button{
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border: none;
  padding: 3.2px 10px;
  margin: 0;
  border-radius: 10px;
  height: 100%;
  background-color: #ffffff;
}

.card-inner{
  padding: 2px;
}

.list{
  list-style: none;
  margin-bottom: 10px;
}

.flex-columns{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.flex_row{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.dropdown{
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 0;
  margin-left: 20px;
  width: 100px;
  text-align: center;
  height: 100%;
  font-size: 15px;
  background-color: #ffffff;
}

.dropdown_link{
  padding: 4px;

}

.dropdown_approvals{
  display: none;
  transition: all 1s ease;
  height: 100%;
}

.dropdown:hover .dropdown_approvals{
  display: inherit;
  margin-top: 10px;
  transition: all 1s ease;
  height: max-content;
}

.approvals{
  margin-bottom: 0;
}

.button{
  border: none;
  margin: 0;
  font-size: 15px;
  background-color: #ffffff;
}